<!Doctype html>

<head>
	<link rel="stylesheet" type="text/css" href="styling.css">
</head>
<body style="background-image: url(bitcoin.jpg); background-size: cover;"">
    <header>
         <div id="navbar">
        <nav>
            <ul style="text-align: inline; color: white; font-size: 20px; font-family: courier; padding-top: 20px;">
            <li style="padding: 10px"><a href= "index.html">Home</a></li>
            <li style="padding: 10px; margin-left: 60px"><a href= "About.html">About</a></li>
        </ul>
        </nav>
    </div> 
        <div id="WebName" style="margin-left: 550px; padding-bottom: 0px; padding-top: 0px">
            <h1 style="color: white; font-family: courier;font-size: 50px">LIVEWATCH</h1>
        </div>
        <div id= "button1" style="">
            <button style="text-align: center; margin-left: 1200px;" onclick="document.getElementById('id01').style.display='block'">Sign Up</button>
        </div>
    </header>

		>
<div id="Form" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">LIVEWATCH</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container" style="">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="passwords" required>

      <label><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="password-repeat" required>

      <label>
        <input type="checkbox" checked="checked" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signup">Sign Up</button>
      </div>
    </div>
  </form>
</div>
	<div>
		
	</div>
</body>
	

